<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Nature Reach - Create Feeding'}); %>

<body>
    <% include ../partials/navbar %>
    <div class="container">
        <br>
        <h1><%= title %></h1>
        <p>Add a new feeding to the database</p>
        <form method="POST" action="/feedings/create">
            
            <div class="container-fluid" style="width: 18rem;">

                

                <div class="form-group" col-4>
                    <select required class="form-control" name="Bird">
                        <option value="" disabled selected>Animal</option>
                        <% for(var i=0; i<birds.length; i++) { %>
                        <option value="<%=birds[i].nickName%> - <%=birds[i].species%>">
                            <%=birds[i].nickName%> - <%=birds[i].species%>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group" col-4>
                    <select required class="form-control" name="Food">
                        <option value="" disabled selected>Food</option>
                        <% for(var i=0; i<foods.length; i++) { %>
                        <option value="<%=foods[i].name%>">
                            <%=foods[i].name%>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group" col-4>
                    <input required type="text" class="form-control" placeholder="Amount Fed" name="AmountFed">
                </div>

                <div class="form-group" col-4>
                    <input required type="text" class="form-control" placeholder="Leftover Food" name="LeftoverFood">
                </div>

                <div class="form-group" col-4>
                    <select class="form-control" name="Medicine">
                        <option value="" disabled selected>Medicine (Optional)</option>
                        <% for(var i=0; i<meds.length; i++) { %>
                        <option value="<%=meds[i].name%>">
                            <%=meds[i].name%>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group" col-4>
                    <input required type="text" class="form-control" placeholder="Goal Weight" name="GoalWeight">
                </div>
                <div class="form-group" col-4>
                    <input required type="text" class="form-control" placeholder="Actual Weight" name="ActualWeight">
                </div>

                <div class="form-group" col-4>
                    <select required class="form-control" name="WeatherConditions">
                        <option value="" disabled selected>Weather</option>
                        <option value="Sunny">Sunny</option>
                        <option value="Cloudy">Cloudy</option>
                        <option value="Rainy">Rainy</option>
                        <option value="Snowy">Snowy</option>                        
                    </select>
                </div>

                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Comments (Optional)" name="Comments">
                </div>

                <div class="form-group" col-4>
                    <div class="well">
                        <input class="form-control" type="datetime-local" id="datetimepicker" name="Date" max="2020-12-10T00:00" required>                 
                    </div>
                </div>

                <div class="form-group" col-4>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </form>
    </div>
    <% include ../partials/scripts %>

    <script type="text/javascript">
        $(document).ready(function () {
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1;
          var yyyy = today.getFullYear();
          var hh = today.getHours();
          var minutes = today.getMinutes();

          if (dd<10) {
              dd= '0' + dd
          }

          if (mm<10) {
              mm = '0' + mm
          }

          if (hh < 10) {
              hh = '0' + hh
          }

          if (minutes < 10) {
              minutes = '0' + minutes
          }

          today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + minutes;
          document.getElementById("datetimepicker").setAttribute("max", today);
        });
        </script>



</body>

</html>