<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Nature Reach - Feedings' }); %>
  <style>
    #feedingsTable thead {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      font-style: normal;
      background-color: rgb(92, 184, 92);
      color: black;
    }
  </style>

  <body>
    <% include ../partials/navbar %>
      <br>
      <div class="container-fluid">

        <h1>
          <%= title %>
        </h1>
        <div class="my-3"><button onclick="window.location.href='./feedings/create';" class="btn mb-2 btn-primary">+ Create Feeding</button>
        <button onclick="window.location.href='./feedings/allexport';" class="btn mb-2 btn-success">Export All Feedings</button>
        <button onclick="window.location.href='./feedings/export';" class="btn mb-2 btn-success">Export Specific Feedings</button>
      </div>

        <table id="feedingsTable" class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <td>Date</td>
              <td>Animal</td>
              <td>Food</td>
              <td>Amount Fed (g)</td>
              <td>Leftover Food (g)</td>
              <td>Medicine</td>
              <td>Goal Weight (g)</td>
              <td>Actual Weight (g)</td>
              <td>Weather Conditions</td>
              <td>
                Daily High Temperature (°F)
              </td>
              <td>
                Daily Low Temperature (°F)
              </td>
              <td>Feeder</td>
              <td>General Comments</td>
              <td>Training Comments</td>
              <td>Actions</td>
            </tr>
          </thead>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td>
                <%=data[i].Date.toLocaleDateString("en-US", { hour: '2-digit' , minute: '2-digit', timeZone: "UTC" }) %>
              </td>
              <td>
                <%=data[i].Bird%>
              </td>
              <td>
                <%=data[i].Food%>
              </td>
              <td>
                <%=data[i].AmountFed%> 
              </td>
              <td>
                <%=data[i].LeftoverFood%> 
              </td>
              <td>
                <%=data[i].Medicine%>
              </td>
              <td>
                <%=data[i].GoalWeight%> 
              </td>
              <td>
                <%=data[i].ActualWeight%> 
              </td>
              <td>
                <%=data[i].WeatherConditions%>
              </td>
              <td>
                <%=data[i].DailyHighTemperature%> 
              </td>
              
              <td>
                <%=data[i].DailyLowTemperature%> 
              </td>
              <td>
                <%=data[i].Feeder%>
              </td>
              <td>
                <%=data[i].GeneralComments%>
              </td>
              <td>
                <%=data[i].TrainingComments%>
              </td>
              <td><a href="./feedings/update?_id=<%= data[i]._id %>"><span style="font-size: 20px;"><i
                      class="fa fa-pencil"></i></span></a>
                | <a href="./feedings/delete?_id=<%= data[i]._id %>"
                  onclick="return confirm('Are you sure you want to delete this?')"><span style="font-size: 20px;"><i
                      class="fa fa-trash"></i></span></a>
              </td>
            </tr>
            <% } %>

        </table>
      </div>

      <% include ../partials/scripts %>

        <script type="text/javascript">
          $(document).ready(function () {
            $('#feedingsTable').DataTable({
              responsive: true,
              order: [[0, "desc"]],
              columnDefs: [
    { "type": "date", "targets": 0 }
  ]
            });
          });
        </script>
  </body>

</html>