<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Nature Reach - Create Feeding'}); %>

<body>
    <% include ../partials/navbar %>
    <div class="container">
        <br>
        <h1 class="ml-3"><%= title %></h1>
        <p class="ml-3">Create a new feeding to add to the database</p>
        <form method="POST" action="/feedings/create">

                <div class="form-group col-md-4 col-sm-12">
                    <label>Animal</label>
                    <select required class="form-control" name="Bird">
                        <option value="" disabled selected></option>
                        <% for(var i=0; i<birds.length; i++) { %>
                        <option value="<%=birds[i].nickName%> - <%=birds[i].species%>">
                            <%=birds[i].nickName%> - <%=birds[i].species%>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Food</label><br>
                        <% for(var i=0; i<foods.length; i++) { %>
                            <input type="checkbox" value="<%=foods[i].name%>" name="Food"> <%=foods[i].name%><br>
                            <% } %>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Amount Fed (g)</label>
                    <input required type="text" class="form-control" name="AmountFed">
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Leftover Food (g)</label>
                    <input required type="text" class="form-control" name="LeftoverFood">
                </div>         

                 <div class="form-group col-md-4 col-sm-12">
                    <label>Medicine (Optional)</label><br>
                        <% for(var i=0; i<meds.length; i++) { %>
                            <input type="checkbox" value="<%=meds[i].name%>" name="Medicine"> <%=meds[i].name%><br>
                            <% } %>
                </div> 

                <div class="form-group col-md-4 col-sm-12">
                    <label>Goal Weight (g) (Optional)</label>
                    <input type="text" class="form-control" name="GoalWeight">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label>Actual Weight (g) (Optional)</label>
                    <input type="text" class="form-control" name="ActualWeight">
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Weather Conditions</label>
                    <select required class="form-control" name="WeatherConditions">
                        <option value="" disabled selected></option>
                        <option value="Sunny">Sunny</option>
                        <option value="Cloudy">Cloudy</option>
                        <option value="Rainy">Rainy</option>
                        <option value="Snowy">Snowy</option>                        
                    </select>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Daily High Temperature (°F)</label>
                    <input required type="text" class="form-control" name="DailyHighTemperature">
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Daily Low Temperature (°F)</label>
                    <input required type="text" class="form-control" name="DailyLowTemperature">
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>General Comments (Optional)</label>
                    <textarea type="text" class="form-control" name="GeneralComments"></textarea>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <label>Training Comments (Optional)</label>
                    <textarea type="text" class="form-control" name="TrainingComments"></textarea>
                </div>

                <!-- <div class="form-group col-md-4 col-sm-12">
                    <label>Date & Time</label>
                    <div class="well">
                        <input class="form-control" type="datetime-local" id="datetimepicker" name="Date" max="2020-12-10T00:00" required>                 
                    </div>
                </div> -->

                <div class="form-group col-md-4 col-sm-12">
                    <label>Date & Time</label>
                    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" name="Date" required/>
                        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
    <% include ../partials/scripts %>

    <script type="text/javascript">
        // $(document).ready(function () {
        //   var today = new Date();
        //   var dd = today.getDate();
        //   var mm = today.getMonth()+1;
        //   var yyyy = today.getFullYear();
        //   var hh = today.getHours();
        //   var minutes = today.getMinutes();

        //   if (dd<10) {
        //       dd= '0' + dd
        //   }

        //   if (mm<10) {
        //       mm = '0' + mm
        //   }

        //   if (hh < 10) {
        //       hh = '0' + hh
        //   }

        //   if (minutes < 10) {
        //       minutes = '0' + minutes
        //   }

        //   today = yyyy + '-' + mm + '-' + dd + 'T' + hh + ':' + minutes;
        //   document.getElementById("datetimepicker").setAttribute("max", today);
        // });

        $(function () {
                $('#datetimepicker').datetimepicker();
            });
        </script>

</body>


</html>